<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="nextgen-seamless-upgrade.backend.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.App" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>